imagenes
christian_workspace/tp8/Debug/
christian_workspace/.metadata/
christian_workspace/tp1/.cproject
christian_workspace/tp1/.project
christian_workspace/tp1/DSCN4370.JPG.jpg
christian_workspace/tp1/Debug/
christian_workspace/tp1/Release/
christian_workspace/tp1/huang1_not_resized.jpg
christian_workspace/tp1/huang1_resized.jpg
christian_workspace/tp1/huang2_not_resized.jpg
christian_workspace/tp1/huang2_resized.jpg
christian_workspace/tp1/huang3_not_resized.jpg
christian_workspace/tp1/huang3_resized.jpg
christian_workspace/tp1/img.bmp
christian_workspace/tp1/img.gif
christian_workspace/tp1/img.jpg
christian_workspace/tp1/img.png
christian_workspace/tp1/img.tif
christian_workspace/tp2/.cproject
christian_workspace/tp2/.project
christian_workspace/tp2/.settings/
christian_workspace/tp2/Debug/
christian_workspace/tp2/Release/
christian_workspace/tp2/fuente/ejer2/.gitignore
christian_workspace/tp3/.cproject
christian_workspace/tp3/.project
christian_workspace/tp3/Debug/
christian_workspace/tp4/.cproject
christian_workspace/tp4/.project
christian_workspace/tp4/Debug/
christian_workspace/tp5/.cproject
christian_workspace/tp5/.project
christian_workspace/tp5/.settings/
christian_workspace/tp5/Debug/
christian_workspace/tp6/.cproject
christian_workspace/tp6/.project
christian_workspace/tp6/Debug/
christian_workspace/tp7/.cproject
christian_workspace/tp7/.project
christian_workspace/tp7/Debug/
mauro/tp2/ej1
mauro/tp2/ej1_5
mauro/tp2/ej2
mauro/tp2/ej3
paletas/
ejemploslibreria/
christian_workspace/parcial2009/Debug/
christian_workspace/parcial2009/.project
christian_workspace/parcial2009/.cproject
*~
